USE [master]
GO
/****** Object:  Database [Db_Book]    Script Date: 10/3/2024 3:44:21 PM ******/
CREATE DATABASE [Db_Book]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Book.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Book_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Book]
GO
/****** Object:  Table [dbo].[Tbl_DeletedBook]    Script Date: 10/3/2024 3:44:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_DeletedBook](
	[bookDeleteId] [int] IDENTITY(1,1) NOT NULL,
	[bookDeleteName] [varchar](50) NULL,
	[bookDeleteAuthor] [varchar](50) NULL,
	[bookDeletePage] [char](4) NULL,
	[bookDeletePublishingHouse] [varchar](20) NULL,
	[bookDeleteType] [varchar](20) NULL,
 CONSTRAINT [PK_Tbl_DeletedBook] PRIMARY KEY CLUSTERED 
(
	[bookDeleteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBook]    Script Date: 10/3/2024 3:44:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBook](
	[bookId] [int] IDENTITY(1,1) NOT NULL,
	[bookName] [varchar](50) NULL,
	[bookAuthor] [varchar](50) NULL,
	[bookPage] [char](4) NULL,
	[publishingHouse] [varchar](20) NULL,
	[bookType] [varchar](20) NULL,
 CONSTRAINT [PK_TblBook] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblNumOfBook]    Script Date: 10/3/2024 3:44:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblNumOfBook](
	[Value] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
